# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
out/
*.ipr

# === Java ===
*.class
*.jar
*.war
*.ear

# === OS files ===
.DS_Store
Thumbs.db

# === Logs & Env ===
*.log
*.env

# === Maven / Gradle (si utilisé) ===
target/
build/
.gradle/
!gradle-wrapper.jar

# === Backup ===
*.bak
*.tmp
*.swp

# === Cache ===
.cache/
